.navbar {
  background-color: #111;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center; /* Centrage horizontal des éléments */
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.li {
  margin-right: 10px; /* Ajustement espacement entre les éléments */
}

/* Ajout d'une media query pour désactiver le flex sur les petits écrans */
@media only screen and (max-width: 800px) {

  .navbar {
    flex-direction: column; /* Alignement vertical des éléments */
  }

  .h1 {
    padding-bottom: 2%;
  }

  .ul {
    flex-direction: column;
    align-items: center;
  }

  .li {
    margin-right: 0; /* Ajustement espacement entre les éléments li sur les petits écrans */
    margin-bottom: 15px; /* Ajustement espacement entre les éléments li sur les petits écrans */
  }
}

.h1 {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-right: 2%;
}

.a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2980b9;
  transition: background-color 0.3s ease; /* Animation de transition pour l'effet hover */
}

.a:hover {
  background-color: #2c3e50;
}