.body {
  width: 60%;
}

.text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.image1 {
  width: 500px;
  height: 125px;
  margin-right: 10px;
}

.image2 {
  width: 400px;
  height: auto;
  margin-right: 10px;
}

/* Ajout d'une media query pour désactiver le flex sur les petits écrans */
@media only screen and (max-width: 800px) {

  .imagesContainer {
    flex-direction: column; /* Alignement vertical des éléments */
    align-items: center;
    padding-top: 5%;
  }

  .image1 {
    width: 300px;
    height: 75px;
    margin-right: 10px;
  }

  .image2 {
    width: 300px;
    padding-top: 5%;
  }
}